<a id="top"></a>

<div class="row ">
    <div class="card entradas col-3">
        <div style="height: 250px;  "><img src="assets/empreses/2.jpg" style=" margin-top: 10%;width: 95%; align-self: center; max-height: 250px;"></div>
        <div class="card-body ">
            <h4 class="card-title ">Badalona Serveis Assistencials</h4>
            <span class="badge rounded-pill ">Salut</span>

            <ul class="nav row" style="margin-top: 10px;">
                <div class="col-6">
                    <li> <i class="fa fa-map-marker " style="line-height: 20%; margin-left: -5px;"></i>Plaça Pau Casals, 1</li>
                    <li> <i class="fa fa-phone " style="line-height: 20%; margin-left: -5px;"></i>934 64 83 00</li>
                </div>
                <div class="col-6" style="line-height: 20%;">
                    <li> <i class="fa fa-envelope " style="line-height: 20%;margin-left: -15px;"></i>bsa@bsa.cat</li>
                    <li> <i class="fa fa-globe " style="line-height: 20%;margin-left: -15px;"></i> <a href="http://www.bsa.cat">www.bsa.cat</a> </li>
                </div>
            </ul>

        </div>
    </div>
    <div class="card entradas col-3">
        <div style="height: 250px;  "><img src="assets/empreses/basar.png" style=" width: 95%; align-self: center; max-height: 250px;"></div>
        <div class="card-body ">
            <h4 class="card-title ">Basar Oriental: Regals, joguines...</h4>
            <span class="badge rounded-pill ">Equipament de la llar</span>

            <ul class="nav row" style="margin-top: 10px;">
                <div class="col-6">
                    <li> <i class="fa fa-map-marker " style="line-height: 20%; margin-left: -5px;"></i>Carrer Benavente, 4</li>
                    <li> <i class="fa fa-phone " style="line-height: 20%; margin-left: -5px;"></i>934 64 83 00</li>
                </div>
                <div class="col-6" style="line-height: 20%;">
                    <li> <i class="fa fa-envelope " style="line-height: 20%;margin-left: -15px;"></i>-</li>
                    <li> <i class="fa fa-globe " style="line-height: 20%;margin-left: -15px;"></i>-</li>
                </div>
            </ul>

        </div>
    </div>
    <div class="card entradas col-3 ">
        <div style="height: 250px;"><img src="assets/empreses/4.jpg " style="max-width: 95%;  align-self: center; max-height: 250px; "></div>
        <div class="card-body ">

            <h4 class="card-title ">El sabater de Canyadó</h4>
            <span class="badge rounded-pill ">Moda i complements</span>

            <ul class="nav row " style="margin-top: 10px; ">
                <div class="col-6 ">
                    <li> <i class="fa fa-map-marker " style="line-height: 20%; "></i>Carrer Pompeu Fabra, 9</li>
                    <li> <i class="fa fa-phone " style="line-height: 20%; "></i>920 86 46 03</li>
                </div>
                <div class="col-6 " style="line-height: 20%; ">
                    <li> <i class="fa fa-envelope " style="line-height: 20%; margin-left: -15px;"></i>info@sabaterca.cat</li>
                    <li>
                        <i class="fa fa-globe " style="line-height: 20%; margin-left: -15px; "></i>-</li>
                </div>
            </ul>

        </div>
    </div>
</div>




<div class="row ">
    <div class="card entradas col-3">
        <div style="height: 250px;  "><img src="assets/empreses/sol.png" style=" max-width: 95%; align-self: center; max-height: 250px;"></div>
        <div class="card-body ">
            <h4 class="card-title ">Papereria SOL: Regals, plastics..</h4>
            <span class="badge rounded-pill ">Moda i complements</span>

            <ul class="nav row" style="margin-top: 10px;">
                <div class="col-6">
                    <li> <i class="fa fa-map-marker " style="line-height: 20%; margin-left: -5px;"></i>Carrer Sant Bru, 240</li>
                    <li> <i class="fa fa-phone " style="line-height: 20%; margin-left: -5px;"></i>924 65 79 40</li>
                </div>
                <div class="col-6" style="line-height: 20%;">
                    <li> <i class="fa fa-envelope " style="line-height: 20%;margin-left: -15px;"></i>-</li>
                    <li> <i class="fa fa-globe " style="line-height: 20%;margin-left: -15px;"></i>-</li>
                </div>
            </ul>

        </div>
    </div>
    <div class="card entradas col-3">
        <div style="height: 250px; "><img src="assets/empreses/1 " style="width: 95%; align-self: center; max-height: 250px; "></div>
        <div class="card-body ">

            <h4 class="card-title ">Servihogar Gestion 24 Horas</h4>
            <span class="badge rounded-pill ">Serveis professionals</span>

            <ul class="nav row " style="margin-top: 10px; ">
                <div class="col-6 ">
                    <li> <i class="fa fa-map-marker " style="line-height: 20%; margin-left: -5px; "></i>Avinguda dels Vents, 9</li>
                    <li> <i class="fa fa-phone " style="line-height: 20%; margin-left: -5px;"></i>902 10 51 20</li>
                </div>
                <div class="col-6 " style="line-height: 20%; ">
                    <li> <i class="fa fa-envelope " style="line-height: 20%; margin-left: -15px;"></i>info@servihogar24.es</li>
                    <li> <i class="fa fa-globe " style="line-height: 20%; margin-left: -15px;"></i>-</li>
                </div>
            </ul>

        </div>
    </div>
    <div class="card entradas col-3 ">
        <div style="height: 250px;"><img src="assets/empreses/panaderia.jpeg " style="max-width: 95%;  align-self: center; max-height: 250px; "></div>
        <div class="card-body ">

            <h4 class="card-title ">El Pam - Pastisseria i Forn de Pa</h4>
            <span class="badge rounded-pill ">Alimentació</span>

            <ul class="nav row " style="margin-top: 10px; ">
                <div class="col-6 ">
                    <li> <i class="fa fa-map-marker " style="line-height: 20%; "></i>Carrer de Llefià, 17</li>
                    <li> <i class="fa fa-phone " style="line-height: 20%; "></i>-</li>
                </div>
                <div class="col-6 " style="line-height: 20%; ">
                    <li> <i class="fa fa-envelope " style="line-height: 20%; margin-left: -15px;"></i>-</li>
                    <li>
                        <i class="fa fa-globe " style="line-height: 20%; margin-left: -15px; "></i>-</li>
                </div>
            </ul>

        </div>
    </div>
</div>


<div class="row ">
    <div class="card entradas col-3">
        <div style="height: 250px;  "><img src="assets/empreses/angelina.jpeg" style=" max-width: 95%; align-self: center; max-height: 250px;"></div>
        <div class="card-body ">
            <h4 class="card-title ">Angelina</h4>
            <span class="badge rounded-pill ">Moda i complements</span>

            <ul class="nav row" style="margin-top: 10px;">
                <div class="col-6">
                    <li> <i class="fa fa-map-marker " style="line-height: 20%; margin-left: -5px;"></i>Avinguda del Maresme, 10</li>
                    <li> <i class="fa fa-phone " style="line-height: 20%; margin-left: -5px;"></i>933 19 59 90</li>
                </div>
                <div class="col-6" style="line-height: 20%;">
                    <li> <i class="fa fa-envelope " style="line-height: 20%;margin-left: -15px;"></i>-</li>
                    <li> <i class="fa fa-globe " style="line-height: 20%;margin-left: -15px;"></i>-</li>
                </div>
            </ul>

        </div>
    </div>
    <div class="card entradas col-3">
        <div style="height: 250px; "><img src="assets/empreses/bigbang.png " style="max-width: 95%; align-self: center; height: 250px; "></div>
        <div class="card-body ">

            <h4 class="card-title ">Big Bang Stocks</h4>
            <span class="badge rounded-pill ">Equipament de la llar</span>

            <ul class="nav row " style="margin-top: 10px; ">
                <div class="col-6 ">
                    <li> <i class="fa fa-map-marker " style="line-height: 20%; margin-left: -5px; "></i>Carrer Francesc Teixidó, 47</li>
                    <li> <i class="fa fa-phone " style="line-height: 20%; margin-left: -5px;"></i>933 20 55 06</li>
                </div>
                <div class="col-6 " style="line-height: 20%; ">
                    <li> <i class="fa fa-envelope " style="line-height: 20%; margin-left: -15px;"></i>stocks@bingbangbdn.com</li>
                    <li> <i class="fa fa-globe " style="line-height: 20%; margin-left: -15px;"></i>
                        <a href="http://bigbangstocks.com/">www.bigbangstocks.com</a>
                    </li>
                </div>
            </ul>

        </div>
    </div>
    <div class="card entradas col-3 ">
        <div style="height: 250px;"><img src="assets/empreses/flors.jpeg " style="max-width: 95%;  align-self: center; max-height: 250px; "></div>
        <div class="card-body ">

            <h4 class="card-title ">Floristeria S Ventura </h4>
            <span class="badge rounded-pill ">Moda i complements</span>

            <ul class="nav row " style="margin-top: 10px; ">
                <div class="col-6 ">
                    <li> <i class="fa fa-map-marker " style="line-height: 20%; "></i>Plaça Pep Ventura, 13</li>
                    <li> <i class="fa fa-phone " style="line-height: 20%; "></i>933 87 17 95</li>
                </div>
                <div class="col-6 " style="line-height: 20%; ">
                    <li> <i class="fa fa-envelope " style="line-height: 20%; margin-left: -15px;"></i>-</li>
                    <li>
                        <i class="fa fa-globe " style="line-height: 20%; margin-left: -15px; "></i>
                        <a href="http://sventura.com/">www.sventura.com</a>
                    </li>
                </div>
            </ul>

        </div>
    </div>
</div>