<a id="top"></a>
<!-- Banner inicio -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="max-height: 600px;">
        <div class="carousel-item active">
            <img src="assets/Badalona/16.jpg" class="d-block w-100">
            <div class="carousel-caption position-absolute top-50 translate-middle" style="margin-left: 36%; padding-bottom: 50%">
                <h1 class="display-4" style="font-weight: 500;">LA LONA</h1>
                <p style="line-height: 250%; margin-top: 30px;">L’ajuntament té la missió d’estimular una major circulació local dels diners a partir de l'augment de l'efecte multiplicador dels fluxos de pagament provinents de l'administració pública. D'aquesta forma els diners circulen més cops i
                    durant més temps entre les empreses locals, afavorint el desenvolupament econòmic i social de la ciutat.
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/vectors/5.jpg" class="d-block w-100">
            <div class="carousel-caption position-absolute top-50 translate-middle-y" style="padding-left: 50%; padding-bottom: 20%">
                <h1 class="display-4" style="font-weight: 500;color:rgb(214, 234, 255);">SUBVENCIONS</h1>
                <p style="line-height: 250%; margin-top: 30px;color:rgb(214, 234, 255);">L'ajuntament ofereix subvencions per valor de fins a 150€ per als establiments que vulguin adherir-se a l’iniciativa!
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/Badalona/18.jpg" class="d-block w-100">
            <div class="carousel-caption position-absolute top-50  translate-middle-y" style="padding-left: 50%; padding-bottom: 65%">
                <h1 class="display-4" style="font-weight: 500; color:dimgrey;">FÀCIL D’UTILITZAR</h1>
                <p style="line-height: 250%; margin-top: 30px;color:dimgrey;">Nomès has de descarregar la nostra app i començararàs a descobrir totes les seves possibilitats</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Bienvenida -->
<div class="row" style="margin-top: 50px; ">
    <div style="text-align: center; margin-bottom: 50px;" class="col-4">
        <img src="assets/Logos/Logo trans horiz.png" style="margin-top: 45px; padding-right: 20px;padding-left: 25px;" />
    </div>
    <div style="text-align: center; margin-bottom: 50px;" class="col-7">
        <h1 style="margin-top: 50px; ">Benvingut/da a la pàgina oficial de la Lona</h1>
        <hr style="margin-left: 13%; margin-right: 13%; height: 4px; color: rgb(3, 127, 243) ; ">
        <p style="line-height: 250%;">Mitjançant la nostra aplicació es pot pagar a les botigues locals com si fos un pagament en qualsevol altre divisa. El mateix commerçant podrà utilitzar aquest diners per continuar comprant a botigues o proveïdors de la ciutat, i d’aquesta forma
            promoure la circulació de diners dins de Badalona. L’objectiu que es vol aconseguir amb la Lona és de mantenir la màxima quantitat possible de diners dins de Badalona, millorant així l’economia local i fomentant el comerç sostenible i de proximitat.
        </p>
        <a href="servicios/#Domesticas">
            <button class="btn " style="background-color: rgb(183, 231, 250); ">Vull participar!</button>
        </a>
    </div>
</div>

<div style=" margin-bottom: 80px; margin-right: 15%; margin-left: 15%;" class="row">
    <iframe height="515" src="https://www.youtube.com/embed/zrrBhRLyoq0" style="align-items: flex-end;"></iframe>
</div>

<!-- Cuadrados de caracteristicas -->
<div class="row" style="margin-bottom: 60px;">
    <a class=" col-md-2 cuadrados-inicio " href="inici/#funcionament">
        <div class="centrado ">
            <img src=" assets/iconos/5.png " class="col-md-3 " />
            <p style="color:rgb(40, 127, 197); font-weight: 500; ">Funcionament</p>
        </div>
    </a>

    <a class="col-md-2 cuadrados-inicio cuadrado-oscuro" href="inici/#dades">
        <div class="centrado">
            <img src=" assets/iconos/12.png" class="col-md-3" />
            <p style="color:rgb(40, 127, 197); font-weight: 500; ">Ús ètic de les dades</p>
        </div>
    </a>

    <a class="col-md-2 cuadrados-inicio" href="inici/#pagaments">
        <div class="centrado">
            <img src=" assets/iconos/11.png" class="col-md-3" />
            <p style="color:rgb(40, 127, 197); font-weight: 500; ">Pagaments digitals locals
            </p>
        </div>
    </a>

    <a class="col-md-2 cuadrados-inicio cuadrado-oscuro " href="inici/#projecte ">
        <div class="centrado ">
            <img src=" assets/iconos/2.png " class="col-md-3 " />
            <p style="color:rgb(40, 127, 197); font-weight: 500; ">Idea del projecte</p>
        </div>
    </a>
    <a class=" col-md-2 cuadrados-inicio " href="inici/#usuaris">
        <div class="centrado ">
            <img src=" assets/iconos/3.png " class="col-md-3 " />
            <p style="color:rgb(40, 127, 197); font-weight: 500; ">Tipus d'usuaris</p>
        </div>
    </a>
    <a class="col-md-2 cuadrados-inicio cuadrado-oscuro " href="inici/#Ressenyes ">
        <div class="centrado ">
            <img src=" assets/iconos/10.png " class="col-md-3 " />
            <p style="color:rgb(40, 127, 197); font-weight: 500; ">Ressenyes</p>
        </div>
    </a>
    <a id="funcionament"></a>
</div>


<!-- Parrafos de catacteristicas -->
<div class="margenlateral">

    <div class="row " style="margin-bottom: 10px;text-align:justify;">
        <div class="col-md-9 ">
            <h3 style="margin-top: 20px; "><u>Funcionament</u></h3>
            <p style=" line-height: 250%; ">L'objectiu de la moneda és estimular l'economia local de Badalona gràcies a la ciutadania. És un projecte social que no suposa cap tipus de cost per als usuaris registrats, pel que la motivació real és l'implicació social amb la ciutat. </p>
            <p style="line-height: 250%; "> Qualsevol persona pot fer una conversió d'euros a Lones, la moneda digital que s'utilitza a l'aplicació. Mitjançant la nostra aplicació, els usuaris poden fer pagaments entre ells gràcies a les Lones aconseguides.</p>
            <p style="line-height: 250%; "> Posem un exemple pràctic: Imaginem que es subvenciona al Conservatori Professional de Música de Badalona perquè puguin renovar els seus instruments abans de la seva participació a una gala. El Conservatori podrà utilitzar les Lones de la subvenció
                per comprar-los en una botiga d’instruments musicals que estigui adherida al sistema de pagaments. I de la mateixa manera, la persona propietària de l’establiment de música podrà utilitzar aquestes Lones per fer la seva compra setmanal
                al mercat, i així successivament. D'aquesta forma, s'impedeix que el pagament que inicialment era destinat a comprar nous instruments es vagi a fora de Badalona, a més de fer que circuli molts més cops.
            </p>
        </div>
        <div class="col-md-3"> <img src="assets/vectors/12.jpg " class="col-md-12 " style="margin-left: 5%; margin-top: 40%; " /></div>
        <a id="dades"></a>
    </div>

    <div class="row " style="margin-bottom: 10px;text-align:justify;">
        <div class="col-md-9 ">
            <h3 style="margin-top: 20px; "><u>Ús ètic de les dades</u></h3>
            <p style=" line-height: 250%; ">Les grans empreses tecnològiques tenen accés a moltes de les nostres dades però la Lona té un enfocament molt més ètic sobre el seu tractament.</p>
            <p style="line-height: 250%; ">Les dades només s'utilitzaran per tenir una previsió de les tendències econòmiques i de comportament a Badalona, i així ajudar a desenvolupar estratègies positives pel bé ambiental i social de la ciutat.</p>
        </div>
        <div class="col-md-3"> <img src="assets/vectors/10.jpg " class="col-md-12 " style="margin-left: 5%; " /></div>
        <a id="pagaments"></a>
    </div>

    <div class="row " style="margin-bottom: 10px;text-align:justify;">
        <div class="col-md-9 ">
            <h3><u>Pagaments digitals locals</u></h3>
            <p style=" line-height: 250%; ">El món ha evolucionat molt ràpid en els últims anys, i poder pagar per telèfon o targeta és molt més habitual en aquests dies, igual que les compres en línia. Com a resultat, la quantitat de diners que deixa Badalona en càrrecs de transacció
                per aquests pagaments digitals ha augmentat fins a uns <b>20 milions de euros anualment</b>.</p>
            <p style="line-height: 250%; ">Cada pagament fet amb Lones ajudarà a desviar part d'aquests 20 milions d'euros dels gegants globals cap a organitzacions benèfiques locals, grups comunitaris i empreses socials de Badalona.</p>
        </div>
        <div class="col-md-3"> <img src="assets/vectors/9.jpg " class="col-md-12 " style="margin-left: 5%; " /></div>
        <a id="projecte"></a>
    </div>

    <div class="row " style="margin-bottom: 10px;text-align:justify;">
        <div class="col-md-9 ">
            <h3 style="margin-top: 20px; "><u>Idea del projecte</u></h3>
            <p style=" line-height: 250%; ">L'idea va sorgir a partir de la necesitat de respondre als diferents problemes desencadenats per la crisis econòmica generada per la Covid-19. El compromís era de presentar un projecte perquè Badalona superi la greu crisi econòmica, social
                i sanitària que hem patit. No pot quedar ningú enrere i per això hem de fomentar l’ocupació i defensar els drets laborals dels nostres ciutadans i ciutadanes, i fer un reconeixement a tots els treballadors que van ser essencials durant
                la pandèmia. Concretament, els pricinipals eixos que es tracten són:</p>
            <ol>
                <li style="list-style: circle;  line-height: 250%; ">Reforçar el comerç local.</li>
                <li style="list-style: circle;  line-height: 250%; ">Oferir ajudes per autònoms i microempreses de la ciutat.</li>
                <li style="list-style: circle; line-height: 250%;  ">Impulsar polítiques d’ocupació.</li>
                <li style="list-style: circle;  line-height: 250%; ">Reconeixer a nous emprenedors locals.</li>
            </ol>
        </div>
        <div class="col-md-3"> <img src="assets/vectors/13.jpg " class="col-md-12 " style="margin-left: 5%; margin-top: 40%; " /></div>
        <a id="usuaris"></a>
    </div>

    <div class="row " style="text-align:justify;">
        <div class="col-md-9 ">
            <h3 style="margin-top: 20px; "><u>Tipus d'usuaris</u></h3>
            <p style=" line-height: 250%; ">Dins de l'aplicació mòbil diferenciem entre 2 tipus d'usuaris diferents:</p>
            <ol>
                <li style="list-style: circle;  line-height: 250%; "><b>Empreses</b>: Inclou a empreses, cooperatives, associacions o treballadors autònoms que ofereixen els seus serveis a Badalona. Aquests usuaris apareixeran al llistat de l'aplicació perquè altres usuaris puguin trobar els seus serveis
                    amb més facilitat.</li>
                <li style="list-style: circle;  line-height: 250%; "><b>Persones</b>: Inclou qualsevol persona física amb domicili a Badalona. Els treballadors autònoms no es consideren persones.</li>
            </ol>
        </div>
        <div class="col-md-3"> <img src="assets/vectors/14.jpg " class="col-md-12 " style="margin-left: 5%; margin-top: 10%;" /></div>
        <a id="Ressenyes"></a>
    </div>
</div>


<!-- Reseñas de clientes -->
<section id="Clientes">
    <h3 style="margin-top: 30px; margin-left: 20%; ">I no ho diem nosaltres...</h3>
    <div class="row" style="margin-left: 20%;">
        <div class="card clientesref ">
            <div class="card-body ">
                <h5 class="card-title ">Gran practicitat</h5>
                <p class="card-text ">Estic molt content, tant amb l'ús de l'app com amb el tracte que ofereix l'equip d'assistència. Molt recomanada!!</p>
                <div class="row ">
                    <img src="assets/personas-contacto/4.png " class="col-md-3 " />
                    <div class="col-md-8 " style="margin-top: 2%; ">
                        <p class="card-text "><b>Pau Romero</b></p>
                        <p class="card-text " style="line-height: 2%; "><em>Propietari d'una fruteria local</em></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card clientesref ">
            <div class="card-body ">
                <h5 class="card-title ">Un ús molt pràctic</h5>
                <p class="card-text ">Vaig començar a utilitzar la Lona degut a una subvenció rebuda en Lones, pero vaig seguir utilitzant-la degut a la seva practicitat.</p>
                <div class="row ">
                    <img src="assets/personas-contacto/5.png " class="col-md-3 " />
                    <div class="col-md-8 " style="margin-top: 2%; ">
                        <p class="card-text "><b>Carla Moreno</b></p>
                        <p class="card-text " style="line-height: 2%; "><em>Directora de l'escola Joan Miró</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left: 20%;">
        <div class="card clientesref ">
            <div class="card-body ">
                <h5 class="card-title ">Bona iniciativa social</h5>
                <p class="card-text ">Desde que utilitzo l'app, nomès faig compres a establiments que utilitzen la Lona. Així m'asseguro que inverteixo en sostenibilitat.</p>
                <div class="row ">
                    <img src="assets/personas-contacto/3.png " class="col-md-3 " />
                    <div class="col-md-8 " style="margin-top: 2%; ">
                        <p class="card-text "><b>María Romo</b></p>
                        <p class="card-text " style="line-height: 2%; "><em>Cuitadana de Badalona</em></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card clientesref ">
            <div class="card-body ">
                <h5 class="card-title ">Molt còmode</h5>
                <p class="card-text ">Faig servir la Lona per fer les meves compres des dels inicis. L'app em permet fer pagaments de forma ràpida i senzilla.</p>
                <div class="row ">
                    <img src="assets/personas-contacto/2.png " class="col-md-3 " />
                    <div class="col-md-8 " style="margin-top: 2%; ">
                        <p class="card-text "><b>Roger Coral</b></p>
                        <p class="card-text " style="line-height: 2%; "><em>Ciutadà de Badalona</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>