<div class="row" style="background-color: rgb(183, 231, 250); padding-top: 20px; margin-top: 80px;">
    <div class="col-4" style="padding-left: 100px;padding-top: 20px;">
        <div class="text-muted"> Iniciativa creada i gestionada gràcies a l'Ajuntament de Badalona</div>
        <img src="assets/Logos/Ajuntament trans.png" style="max-height: 135px;padding-left: 20px;padding-top: 10px;" />
    </div>
    <div class="col-8">
        <ul class="nav justify-content-center text-center text-muted">
            <li style="margin-right: 30px;"> <i class="fa fa-map-marker"></i> Ajuntament de Badalona. Plaça de la Vila 1</li>
            <li style="margin-right: 30px;"> <i class="fa fa-phone"></i> (+34) 93 483 26 00</li>
            <li style="margin-right: 30px;"> <i class="fa fa-envelope" href="https://goo.gl/maps/cePnydzpqbmpaeP48"></i> correu@badalona.cat</li>

        </ul>
        <hr style="margin-left: 15%; margin-right: 15%;">
        <p class="text-center text-muted ">&copy; 2022 La Lona</p>
        <ul class="nav justify-content-center " style="line-height: 0%; ">
            <a href="https://www.facebook.com/thecleanercleaningcompany/" class="fa fa-facebook " target="_blank"></a>
            <a href="https://twitter.com/cleaning_co_uk" class="fa fa-twitter " target="_blank"></a>
            <a href="https://www.instagram.com/gocleanco/?hl=es" class="fa fa-instagram " target="_blank"></a>
        </ul>
    </div>
</div>