<div style="background-color: rgb(183, 231, 250); " class="sticky-top opacity-75">
    <ul class="row">
        <div class="col-md-3"><img src="assets/Logos/Logo trans.png" style="margin-top: 5px;margin-bottom: 5px; padding-left: 40%; max-height: 53px;" /></div>
        <div class="col-md-7">
            <div class="topnav">
                <a class="active" href="inici/#top">Inici</a>
                <a href="locals/#top">On utilitzar la Lona?</a>
                <a href="documents/#top">Documentació</a>
                <a href="noticies/#top">Notícies</a>
                <a href="faqs/#top">FAQs</a>
                <a href="contacte/#top">Contacte</a>
                <div class="dropdown">
                    <a>Enregistrar-se</a>
                    <div class="dropdown-content">
                        <a href="registre/#persones">Sóc ciutadà</a>
                        <a href="registre/#empreses">Sóc una empresa</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 ">

            <!-- Agrega libreria de iconos (Redes sociales)-->
            <link rel="stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css ">
            <a href="https://es-es.facebook.com/tot.badalona" class="fa fa-facebook " target="_blank "></a>
            <a href="https://twitter.com/ajbadalona?lang=es" class="fa fa-twitter " target="_blank "></a>
            <a href="https://www.instagram.com/badalona_cat/?hl=es" class="fa fa-instagram " target="_blank "></a>
        </div>
    </ul>
</div>