<a id="top"></a>
<div class="row" style="justify-content: center; padding-top: 40px; padding-bottom: 40px;">
    <h1 style="text-align: center;">Preguntes freqüents</h1>
</div>
<!-- Preguntas-->
<div class="accordion " id="accordionExample" style="margin-left: 20%;margin-right: 20%;">
    <div class="accordion-item" id="headingOne">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" aria-expanded="true" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                Què és la Lona?
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Una potent xarxa local que permet establir relacions, adquirir valors i principis basats en la confiança entre iguals; que utilitza una eina inclusiva, innovadora i pròpia de Badalona en forma de moneda.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                Qui s'encarrega de l'emissió de la moneda?
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                L'Ajuntament de Badalona és el responsable de l'emissió de la Lona. Ho fa mitjançant el pagament de part de la despesa pública de subvencions perquè tinguin una repercussió directa en el comerç local.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                Qui garanteix la resolució d'incidències o dubtes sobre la Lona?
        </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                L'Ajuntament de Badalona garanteix i assegura el correcte funcionament de la Lona mitjançant un departament específicament creat per oferir suport i acompanyament a tots els usuaris/es.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCuatro">
                Durant quins horaris es pot contactar amb el servei tècnic?
        </button>
        </h2>
        <div id="collapseCuatro" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                El servei d'atenció al client està operatiu de dilluns a divendres de <b>8:30</b> a <b>13:30</b> i els dijous de <b>16:00</b> a <b>18:30</b>. En cas de voler concertar cita fora d'aquest horari, haurà de concertarla amb antelació prèvia.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeis">
               Com es fan les transaccions en Lones?
        </button>
        </h2>
        <div id="collapseSeis" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                La Lona és digital i, per tant, els pagaments es fan mitjançant un telèfon mòbil, una tauleta digital o qualsevol dispositiu amb connexió a Internet. En format digital els pagaments es realitzen fins al cèntim, de manera que no hi ha necessitat de tornar
                cap canvi.
            </div>
        </div>
    </div>
    <!-- ARRIBA DONE-->
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCinco">
                Quin valor té cada Lona?
        </button>
        </h2>
        <div id="collapseCinco" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Sempre serà el mateix que l'euro: 1 Lona = 1 euro
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix">
                Es pot donar una quantitat en Lones i l'altre part en euros en un mateix pagament?
        </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                No és el més habitual ni el més convenient perquè alenteix la circulació de la Lona, però en determinats sectors o compres en què la quantitat sigui significativament elevada es recomana pactar entre comprador i venedor el pagament d'una part en Lones
                i una altra en euros.
            </div>
        </div>
    </div>
</div>

<div style="text-align: center; margin-bottom: 50px;">
    <h2 style="margin-top: 50px; ">Escriu-nos a les nostres xarxes socials</h2>
    <hr style="margin-left: 35%; margin-right: 35%; height: 4px; color: rgb(3, 127, 243) ; ">
    <p style="line-height: 250%; margin-left: 10%; margin-right: 10%;">Tweets, comentaris, mencions, missatges directes... Totes les opcions són bones per posar-te en contacte amb nosaltres a través dels nostres canals oficials i resoldre els teus dubtes. Et respondrem el més aviat possible! També pots optar per enviar-nos
        els teus dubtes mitjançant
        <a href="contacte/#Fomulario1" style="color: black; font-weight: 600; text-decoration: none;">aquest formulari</a>.
    </p>
    <div style="text-align: center;">

        <!-- Agrega libreria de iconos (Redes sociales)-->

        <a href="https://es-es.facebook.com/tot.badalona" class="fa fa-facebook" target="_blank" style="font-size: 35px; margin-right: 100px;"></a>
        <a href="https://twitter.com/ajbadalona?lang=es" class="fa fa-twitter" target="_blank" style="font-size: 35px; margin-right: 100px;"></a>
        <a href="https://www.instagram.com/badalona_cat/?hl=es" class="fa fa-instagram" target="_blank" style="font-size: 35px;"></a>
    </div>
</div>