<a id="top"></a>


<div style="margin-left: 20%;  margin-bottom: 50px;" class="col-7">
    <h1 style="text-align: center; margin-bottom: 30px; margin-top: 40px;text-transform:uppercase; letter-spacing: 3px; ">NORMATIVA I DOCUMENTS</h1>

    <h3>Marc normatiu de la Lona</h3>
    <p style="line-height: 250%;">Aquest reglament municipal articula la regulació bàsica sobre el funcionament i les garanties jurídiques de la Lona, que opera mitjançant un sistema de pagaments digitals impulsat per la canalització de gasto públic realitzat per part de l'Ajuntament
        de Badalona. Per tant, aquest marc general necessita la incorporació d'annexos que articulin la regulació específica de les diferents tipologies de gasto públic a canalitzar. La connexió del marc reglamentari general amb els seus annexos és el
        que habilita el sistema a operar amb l'impuls de la despesa pública.
    </p>
    <ol>
        <li class="document">
            <a href="contacte/#Fomulario1">Reglament del Circuit de Comerç Social de Badalona</a>
        </li>
        <li class="document">
            <a href="contacte/#Fomulario1">Documentació necessària per la candidatura d'empreses al sistema de la Lona</a>
        </li>
    </ol>

    <h3>Subvencions en Lones</h3>
    <p style="line-height: 250%;">Aquestes subvencions són una iniciativa de l'Ajuntament de Badalona, que recull l'esforç de les administracions públiques i els seus organismes per incentivar, mantenir i desenvolupar l'activitat econòmica i l'emprenedoria. S'alimenta de les convocatòries
        dels diaris oficials, als quals s'hi afegeix informació d'organismes oficials que publiciten per altres mitjans.
    </p>
    <ol>
        <li class="document">
            <a href="contacte/#Fomulario1">Ajuts econòmics per al foment de l’autoocupació del municipi de Badalona (Convocatòria 2022)</a>
        </li>
        <li class="document">
            <a href="contacte/#Fomulario1">Subvencions a entitats sense ànim de lucre per al foment de l’associacionisme i la realització de projectes de promoció i desenvolupament del comerç local al marc Circuit de Comerç Social de Badalona (Convocatòria 2022)</a>
        </li>
        <li class="document">
            <a href="contacte/#Fomulario1">Subvencions en moneda local digital per a projectes destinats a fomentar el mercat de consum responsable i l’economia social i solidària en el marc del Circuit de Comerç Social de Badalona (Convocatòria 2022-2023)</a>
        </li>
    </ol>

    <h3>Estudis sobre l’estat i evolució de la Lona</h3>
    <p style="line-height: 250%;">El departament encarregat de la Lona elabora anualment informes de l’estat i l’evolució del Circuit de Comerç Social, en col·laboració amb l’Ajuntament de Badalona. En aquest informe s’analitza, des de diferents perspectives, la traçabilitat de la
        Lona des de la seva creació.
    </p>
    <ol>
        <li class="document">
            <a href="contacte/#Fomulario1">Informe de la Traçabilitat de la Lona (2022)</a>
        </li>
        <li class="document">
            <a href="contacte/#Fomulario1">Les xifres de la Lona en imatges (2022)</a>
        </li>
    </ol>
    <img src="assets/vectors/2.jpg " class="col-md-12 " style="margin-top: 50px;" />
</div>